<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration page</title>
</head>

<body>
    <h1>registration page</h1>
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="password1" placeholder="password1"><br>
        <input type="text" name="password2" placeholder="password1"><br>
        <button>Create account</button>
    </form>
</body>

</html>