<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%if all_blogs%}
    {%for i in all_blogs%}
    <h1>Title: {{i.title}}</h1>
    <img style="width:200px; height: 200px;" src="{{i.image.url}}" alt="No image found!">
    <p>Description: {{i.description}}</p>
    <p>Posted date: {{i.posted_date}}</p>
    <p>Last updated: {{i.last_updated}}</p>
    <a href="{% url 'deleteblog' i.id %}">Delete</a>
    <a href="{% url 'updateblog' i.id %}">Update</a>
    {%endfor%}
    {%else%}
    <h1>No blog found</h1>
    <a href="{% url 'createblogpage' %}">Create New Blog</a>
    {%endif%}
</body>

</html>